---
layout: post-wrapper
---
{% capture tag_str %}
	{% for tag in page.tags %}{{ tag }}{% unless forloop.last %},{% endunless %}{% endfor %}
{% endcapture %}
{% assign tag_arr = tag_str | split: ',' | sort %}

<div class="item-header">
	<h2 class="item-title">{{ page.title }}</h2>
	<span class="item-meta"><i class="fa fa-calendar"></i> {{ page.date | date: "%Y-%m-%d %R"}}</span>
	<span class="item-meta">
		Posted in <span class="item-cat">{{ page.categories }}</span>
		<span class="item-tags">
			with 
					{% for tag_item in tag_arr %}
						{% capture tag_item_word %}{{ tag_item }}{% endcapture %}
						<a href="{{ "/tags#" | append: tag_item_word | prepend: site.baseurl | url_escape }}">{{ tag_item }}</a>
						{% unless forloop.last %},{% endunless %}
					{% endfor %}
		</span>
	</span>
</div>

<hr id="item-divider">

<div class="item-content">
	{{ content }}
</div>

<hr id="item-divider2">

<div class="item-comments">
	<div class="item-comments-panel">
		{% if page.comments %}
			<div id="disqus_thread"></div>
			<script>
				/*
				var disqus_config = function () {
					this.page.url = '{{ site.url }}{{ page.url | slice: 0, 10 }}';
					this.page.identifier = '{{ page.url | relative_url | slice: -10, 10 }}';
				};
				*/
				(function() {
					var d = document, s = d.createElement('script');
					s.src = '//bluebreeze0812.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		{% endif %}
	</div>
</div>
